<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="border-b border-gray-200">
        <div class="mt-5 grid grid-cols-1 gap-y-8"></div>
        <h1 class="text-left text-2xl font-bold tracking-tight text-black dark:text-white sm:text-4xl">Orders</h1>
        <ul role="list" class="divide-y divide-gray-100">
        {{#each ordersData}}
        <li class="flex justify-between gap-x-6 py-5">
            <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Order #{{orderId}}</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500 dark:text-white">{{customerName}}</p>
                <!-- Product Details -->
                {{#each products}}
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500 dark:text-white">Product id: {{productId}}</p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500 dark:text-white">Quantity: {{quantity}}</p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500 dark:text-white">Sku price: ${{price}}</p>
                {{/each}}
                
            </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900 dark:text-white">${{totalAmount}}</p>
            <div class="mt-1 flex items-center gap-x-1.5">
                <div class="flex-none rounded-full bg-emerald-500/20 p-1">
                <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
                </div>
                <p class="text-xs leading-5 text-gray-500 dark:text-white">Paid ({{orderDate}})</p>
            </div>
            </div>
        </li>
        {{/each}}

        </ul>
    </div>
</div>