<div style="margin-top: 20px;"> <!-- Adding space -->

<h1>Search for the products you want to buy:</h1>


<style>
  table {
    border-collapse: collapse;
    width: 90%;
  }

  table, th, td {
    border: 5px solid #ddd;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }
</style>

<table>
  <tr>
    <td colspan="2">
      <form action="/listprod" method="get">
        <input type="text" name="productName" placeholder="Search for a product" size="50" value="{{searchValue}}">
      </td>
      <td>
        <input type="submit" value="Submit">
      </td>
      <td>
        <input type="reset" value="Reset"><small> (Leave blank for all products)</small>
      </td>
    </tr>
  </form>
</table>


<h2>All Products</h2>
<table border='1' cellpadding='10'>
  <tr>
    <th></th>
    <th>Product Name</th>
    <th>Category</th>
    <th>Product Price</th>
  </tr>
  <div id="cartModal" style="display:none;">
    <div id="cartContainer"></div>
    <button onclick="closeCartModal()">Close Cart</button>
  </div>
  {{#each products}}
    <tr>
        <td><a href="#" onclick="addToCart('{{productId}}', '{{productName}}', '{{productPrice}}')">Add to cart</a></td> 
       
        <td>
          <div class="flex items-center"> <!-- Use flex to align items horizontally -->
            <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg mr-4"> <!-- Adjusted aspect ratio for a square thumbnail and added margin-right -->
              <img src="{{displayOne}}" class="mx-auto h-auto max-w-full w-auto object-cover object-center" style="width: 100px; height: 100px;"> <!-- Adjusted styles for width and height -->
            </div>
            <a href="/product?id={{productId}}&name={{productName}}&price={{productPrice}}&productDesc={{productDesc}}">{{productName}}</a>
          </div>
        </td>


        <td>{{categoryName}}</td>
        <td>{{formattedPrice}}</td>
    </tr>
    <script>
        function showCartModal(html) {
            document.getElementById('cartContainer').innerHTML = html;
            document.getElementById('cartModal').style.display = 'block';
        }

        function closeCartModal() {
            document.getElementById('cartModal').style.display = 'none';
        }

        function addToCart(productId, productName, productPrice) {
            // Prevent the default link behavior
            event.preventDefault();

            let fetchUrl = `/addcart?id=${encodeURIComponent(productId)}&name=${encodeURIComponent(productName)}&price=${encodeURIComponent(productPrice)}`;

            fetch(fetchUrl)
                .then(response => response.text())
                .then(html => {
                    showCartModal(html);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
  {{/each}}
</table>
</div>