
<div class="w-full h-full bg-white dark:bg-black shadow-xl overflow-y-auto">
<div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
    <div class="flex items-start justify-between">
    <h2 class="text-lg font-medium text-gray-900 dark:text-white" id="slide-over-title">Shopping cart</h2>
    </div>

    <div class="mt-8">
    <div class="flow-root">
        <ul role="list" class="-my-6 divide-y divide-gray-200">
        
        {{#each productList}}
        <li class="flex py-6">
            <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
            <img src="https://cdn-icons-png.flaticon.com/512/2326/2326983.png" class="h-full w-full object-cover object-center">
            </div>

        <div class="ml-4 flex flex-1 flex-col">
            <div>
                <div class="flex justify-between text-base font-medium text-gray-900 dark:text-white">
                <h3>
                    <a href="#">{{this.name}}</a>
                </h3>
                <p class="ml-4">${{this.subtotal}}</p>
                </div>
                <p class="mt-1 text-sm text-gray-500 dark:text-white">Sku Price: {{this.price}}</p>
                <p class="mt-1 text-sm text-gray-500 dark:text-white">Project ID: {{this.id}}</p>
            </div>
            <div class="flex flex-1 items-end justify-between text-sm">
                <p class="text-gray-500 dark:text-white">Qty {{this.quantity}}</p>
            </div>
            </div>
        </li>
        {{/each}}
        <!-- More products... -->
        </ul>
    </div>
    </div>
</div>

<div class="border-t border-gray-200 px-4 py-6 sm:px-6">
    <div class="flex justify-between text-base font-medium text-gray-900 dark:text-white">
    <p>Total</p>
    <p>${{total}}</p>
    </div>
    <p class="mt-0.5 text-sm text-gray-500 dark:text-white">Tax free.</p>
    <div class="mt-6">
    <a href="/checkout" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</a>
    </div>
    <div class="mt-6 flex justify-center text-center text-sm text-gray-500 dark:text-white">
    <p>
        or
        <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">
        <a href="listprod">Continue Shopping</a>
        <span aria-hidden="true"> &rarr;</span>
        </button>
    </p>
    </div>
</div>
</div>